<h1>
  <%= t('.title') %>
  <% if user_signed_in? %>
    <%= link_to 'Новая статья', new_post_path, class: 'btn btn-outline-primary my-sm-0' %>
  <% end %>
</h1>

<%= render @posts %>

<%= will_paginate @posts, renderer: 'BootstrapPaginationHelper::LinkRenderer' %>