.post {
  margin-bottom: 1em;
  padding: 1em 0;
  border-bottom: 1px solid lightblue;

  img {
    max-width: 100%;
  }

  h1, h3 {
    margin-bottom: 0;
  }

  .post-summary {
    padding: .5em 0;
  }

  .post-body {
    padding-top: 1em;
  }

  .img-show {
    display: block;
    margin-bottom: 2em;
  }

  .thumb {
    float: left;
    margin-right:1em;
  }

  .post-head > small a {
    text-decoration: none;
  }
}

.form-group {
  .btn-outline-success {
    float: right;
  }

  .field_with_errors {
    label {
      color: #d01612;
    }
    input, textarea {
      border-color: #d01612;
    }
  }
}

.pagination {
  justify-content: center;
  ul {
    display: flex;
    list-style: none;
    align-items: center;
  }


  .page-link:focus {
    z-index: 3;
    outline: 0;
   box-shadow: none;
  }
}

.edit_post textarea {
  height: 160px;
  resize: none;
}

.wrapper {
  padding-top: 5em;
}

.container-fluid > h1 > .my-sm-0 {
  float: right;
}